body {
    position: relative;
    height: 1000px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.chevron {
    background-color: var(--Nuances-jaune);
    width: 53px;
    height: 53px;
    border-radius: 10px;
    margin-left: 50px;
}

.image-contain {
    left: 150px;
    height: 250px;
    width: 80%;
    gap: 50px;
    margin: 0 auto;

}

.image-contain img {
    display: flex;
    width: auto;
    height: 250px;
}

.format {
    position: relative;
    right: -60px;       /* distance depuis la gauche de l'image */
    Top: 200px;
    font-size: 60px;
    color: var(--Nuances-blanc);
    font-family: 'Poppins-bold', sans-serif;
    z-index: 1;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.navbar {
/*position: fixed;*/

}