body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('http://localhost/popstreaming/public/img/images/fond-pop-streaming.jpg');
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.language-selector {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.language-selector select {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}


.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    text-align: center;
}

.login-container h1 {
    margin-top: 0;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.btn {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

.divider {
    margin: 10px 0;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.options a {
    color: #FFD700;
    text-decoration: none;
}

.create-account-btn {
    background-color: transparent;
    color: #FFD700;
    border: 1px solid #FFD700;
}

.connexion {
    margin: 0 auto;
}
