.menu {
    margin-bottom: 30px;
}

body {
    height: 100vh;
}

.container {
    justify-content: center;
    align-content: center;
    height: 100%;
}

form {
    margin: 0 auto;
    padding: 20px;
    min-width: 400px;
    border-radius: 10px;
    background-color: var(--Nuances-bleu-fonce);
    text-align: center;
}

input {
    width: 100%;
}
