.menu {
    margin-bottom: 30px;
}

body {
    height: 100vh;
}

.container {
    justify-content: center;
    align-content: center;
    height: 100%;
}

form {
    margin: 0 auto;
    padding: 30px;
    min-width: 400px;
    border-radius: 10px;
    background-color: var(--Nuances-bleu-fonce);
    letter-spacing: 1.5px;
}

input {
    width: 100%;
}

.password-container {
    position: relative;
}
.password-toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#toggleCheckbox {
    display: none;
}

.btn-primary {
    padding: 20px ;
}

form p {
    text-align: center;
    font-weight: normal;
}

.mdpoublie {
    color: var(--Nuances-blanc);
    display: block;
    font-size: 12px;
    font-weight: 100;
    text-decoration: revert;
    text-align: center;
}

.se-souvenir-de-moi {
    font-weight: 100;
    font-size: 12px;
    color: var(--Nuances-blanc);
}

#souvenir {
    width: auto;
}

.element-gap {
    gap: 10px;
}

.width {
    width: auto;
    align-self: center;
    display: flex;
    justify-self: center;
    padding: 20px 50px;
}



@media screen and (max-width: 1200px) {
    .center {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    form {
        min-width: 350px;
    }
    h1 {
        font-size: 18px;
    }

}

@media screen and (max-width: 375px) {
    form {
        min-width: 280px;
        padding: 20px;
    }
}

