.footer {
    padding: 50px;
    background-color: var(--Nuances-noir);
    margin-top: auto;
}

.c {
    font-size: 16px;
    color: #FAF5F5;
    text-decoration: none;
}

.ul1{
    display: flex;
    flex-direction: row;
    gap: 53px;
    margin-bottom: 53px;
    justify-content: center;
    padding : 0;
    color : #182832;
}

.ul2{
    gap: 20px;
    text-align: center;
    justify-content: center;
    color : #182832;
    padding: 0;
}

@media screen and (max-width: 1400px) {
    .center {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 425px) {
    .ul1 {
        gap: 20px;
    }
    .ul2 {
        display: block;
        width:  100%;
    }
}
