/* Header styles */
/* Valeurs et attributs a changer, ici c'est juste un test pour voir si mon javascript fonctionne */


.language-affichage {
  display: none; /* cache la liste de langues */
  position: absolute; /* pour que la liste s'affiche en superposition */
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
}

.recherche input[type="search"] {
  display: none; /* cache la barre de recherche par défaut */
}

.recherche.active input[type="search"] {
  display: inline-block; /* affiche le champ quand .recherche a la classe active */
}

.photo-profils {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.header {
  padding: 20px;
  background-color: var(--Nuances-noir);
}

.btn-FR {
  background-color: var(--Nuances-noir);
  color : var(--Nuances-blanc);
  padding: 5px;
  font-size: 15px;
  font-family: Poppins-regular;
}

.btn-FR1 {
  background-color: var(--Nuances-noir);
  color : var(--Nuances-blanc);
  font-size: 15px;
  padding: 5px;
  font-family: Poppins-regular;
}

.btn-recherche{
  background-color: var(--Nuances-noir);
  color : var(--Nuances-blanc);
  font-size: 15px;
  padding: 5px;
  font-family: Poppins-regular;
}
.p{
  font-family: Poppins-regular;
  font-size: 16px;
  color: var(--Nuances-blanc);
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex1 {
  display: flex;
  align-items: center;
  gap: 20px;
}