html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.p1 {
    color: var(--Nuances-blanc);
    font-size: 12px;
    top: -100px;

}
.justifier {
    text-align: justify;
}

@media screen and (max-width: 1400px) {
    .center {
        width: 100%;
        margin: 0;
    }

    .p1 {
        padding: 20px;
        width: 60%;
    }

}


