.flex1{
    display: flex;
    flex-direction: row-reverse;


}

.p1{
    border-color: white;
}

.input1 {
    color: var(--Nuances-blanc);
    background-color: var(--Nuances-noir);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
}