nav.menu {
    height: 100px;
    background: linear-gradient(360deg, rgba(12, 20, 25, 0.50) 0%, #0C1419 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px;
    position: absolute;
    align-content: center;
    width: 100%;
}

a.logo {
    width: 100px;
    height: 49px;
}

nav.menu .wrap {
    justify-content: flex-end;
    align-content: center;
    margin-left: auto;
}

.btn-primary {
    margin-left: 20px;
}


