/* Header styles */
/* Valeurs et attributs a changer, ici c'est juste un test pour voir si mon javascript fonctionne */


.language-affichage {
  display: none; /* cache la liste de langues */
  position: absolute; /* pour que la liste s'affiche en superposition */
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
}

.recherche input[type="search"] {
  display: none; /* cache la barre de recherche par défaut */
}

.recherche.active input[type="search"] {
  display: inline-block; /* affiche le champ quand .recherche a la classe active */
}

.photo-profils {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.container-nav {
  gap: 20px;
}

.header {
  padding: 20px;
  background-color: var(--Nuances-noir);
}

.btn-FR {
  padding: 10px;
  outline: none;
  box-shadow: none;
  border-radius: 10px;
  border: none;
  color : var(--Nuances-blanc);
  font-size: 15px;
  background-color: transparent;
}

.btn-FR1 {
  background-color: var(--Nuances-bleu-fonce);
  color : var(--Nuances-blanc);
  font-size: 15px;
  padding: 5px;
}

.barre-de-recherche{
  padding: 10px;
  outline: none;
  box-shadow: none;
  border-radius: 10px;
  border: none;
  background: var(--Nuances-bleu-fonce);
  color: var(--Nuances-blanc);
  width: 300px;
}
.barre-de-recherche::placeholder{
  color: var(--Nuances-blanc);
  letter-spacing: 1px;
}

.btn-recherche{
  background-color: transparent;
  border: none;
  color : var(--Nuances-blanc);
  font-size: 15px;
  width: 30px;
  height: 30px;
}

.p{
  font-size: 16px;
  color: var(--Nuances-blanc);
}

.header-container{
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.flex1 {
  display: flex;
  gap: 20px;
}

.nav-actions {
  align-content: center;
  gap: 20px;
}

.backgourd-rgba .container-nav .nav-action {
  background-color: red;
}

.nav-action .profile-link ul li {
  position: absolute;
}