.chevron {
    background-color: var(--Nuances-jaune);
    width: 53px;
    height: 53px;
    border-radius: 10px;
    margin-left: 50px;
}

.pagination {
    font-size: 16px;
    color: var(--Nuances-blanc);
    ;
}
.btn-secondary {
    height: 45px;
    font-size: 14px;
    width: 250px;
}


.avant {
    width: 53px;
    height: 53px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

