.chevron {
    background-color: var(--Nuances-jaune);
    width: 53px;
    height: 53px;
    border-radius: 10px;
    margin-left: 50px;
}

.alignement {
    display: flex;
    justify-content: space-between;
}
.btn-secondary {
    height: 45px;
    font-size: 14px;
    width: 250px;
}

