table {
    width: 100%;
    color: var(--Nuances-noir);
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-bottom: 30px;
}


table tr {
    background-color:  var(--Nuances-blanc);

}

table tr td {
    padding: 10px 20px;

}

.x-pointe, .btn-check {
    width: 20px;
    height: 20px;
    vertical-align:  middle;
}

td#vide {
    background-color: var(--Nuances-noir);
}

.essentielcol, .essentiel, .standardcol, .standard, .premiumcol, .premium {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.premiumcol, .premium {
    background-color:  var(--Nuances-jaune-fonce);
    border-right: 5px solid var(--Nuances-noir);
}

.essentiel, .standard, .premium {
    border-left: 5px solid var(--Nuances-noir);
}
.essentiel, .standard, .premium {
    border-right: 5px solid var(--Nuances-noir);
}

.conditions-annulation {
    display: block;
    color: var(--Nuances-blanc);
    background-color: var(--Nuances-bleu-fonce);
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: auto;
    min-width: 832px;
}

.btn-gap {
    gap: 20px;
}

.btn-primary {
    width: 220px;
}

@media screen and (max-width: 1500px) {
    .center {
        width: 100%;
        margin: 0;
    }

    .btn-retour {
        position: static;
    }

    main {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1189px) {
    .conditions-annulation {
        min-width: auto;
    }
}

@media screen and (max-width: 620px) {
    .conditions-annulation {
        min-width: auto;
    }

    .table-pricing td {
        font-size: 14px;
        padding: 8px;
    }

    .table-pricing img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 640px) {
    .conditions-annulation {
        width: 100%;
    }

    main {
        padding: 0 20px;
    };

    .btn-gap {
        justify-content: center;
        margin: 0 auto;
    }
}
