:root{
    --Nuances-noir : #0C1419;
    --Nuances-bleu-fonce : #182832;
    --Nuances-bleu : #305064;
    --Nuances-bleu-clair : #487896;
    --Nuances-jaune : #EFBD3F;
    --Nuances-jaune-fonce : #CB9C27;
    --Nuances-rouge : #9B1C31;
    --Nuances-rouge-clair : #C15D6E;
    --Nuances-bleu-ciel : #B9F2FF;
    --Nuances-blanc : #FAF9F9;
}


body {
    background-color: var(--Nuances-noir);
}
section {
    min-height: 200px;
}

h1, h2 {
    color: var(--Nuances-blanc);
    font-size: 24px;
    margin-bottom: 30px;
}

p {
    font-size: 12px;
    color: var(--Nuances-blanc);
}

a.logo {
    width: 100px;
    height: 49px;
    display: block;
    align-content: center;
}

.input-fond-sombre {
    color: var(--Nuances-blanc);
    background-color: var(--Nuances-noir);
    padding: 10px 20px;
    border-radius: 10px;
}

.input-fond-clair {
    color: var(--Nuances-noir);
    background-color: var(--Nuances-blanc);
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}

.btn-retour {
    background-color: var(--Nuances-jaune);
    border-radius: 10px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
    left: 50px;
}

.btn-retour img {
    width: 30px;
    height: 30px;
}

.icon-navigation {
    width: 30px;
}

.btn-primary {
    color: var(--Nuances-noir);
    background-color: var(--Nuances-jaune);
    padding: 10px 50px;
    font-size: 12px;
    border-radius: 10px;
    font-family: 'Poppins-bold', sans-serif;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-primary:hover {
    background-color: var(--Nuances-jaune-fonce);
}

.btn-secondary {
    color: var(--Nuances-noir);
    background-color: var(--Nuances-blanc);
    padding: 10px 50px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-plus-infos {
    background-color: rgba(48, 80, 100, 50);
    color: var(--Nuances-blanc);
    border-radius: 10px;
    font-size: 16px;
}

.carte-connexion {
    background-color: var(--Nuances-bleu-fonce);
    color : var(--Nuances-bleu-clair);
    padding: 30px;
    border-radius: 10px;
}

.pagination {
    color: var(--Nuances-noir);
    background-color: var(--Nuances-blanc);
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}

.tags {
    background-color: var(--Nuances-bleu);
    color: var(--Nuances-blanc);
    border-radius: 10px;
    font-size: 16px;
}
.affiche-horizontal {
    width: auto;
    height: 230px;
}

.affiche-horizontal {
    width: auto;
    height: 400px;
}

.affiche-vertical {
    width: auto;
    height: 230px;
}

.presentation-user {

}

section {
    padding: 50px;
}

.btn-FR {
    padding: 10px;
    outline: none;
    box-shadow: none;
    border: none;
    color : var(--Nuances-blanc);
    font-size: 15px;
    background-color: transparent;
}
.language-affichage {
    display: block;
    width: 40px;
    border: 1px solid var(--Nuances-noir);
}

.btn-FR1 {
    background-color: var(--Nuances-bleu-fonce);
    color : var(--Nuances-blanc);
    font-size: 15px;
    padding: 5px;
    width: 40px;
    display: block;
    border: none;
    text-align: center;
}

.form-element {
    margin-bottom: 20px;
}

.element-letf {
    text-align: left;
}

.switch-langue {
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
    left: 2px;
}

.nav-actions {
    /*position: fixed;*/
    right: 50px;
    top: 30px;
}

.language-affichage li a:hover {
    background-color: var(--Nuances-bleu);
}


.width {
    width: auto;
    align-self: center;
    display: flex;
    justify-self: center;
    padding: 20px 50px;
}

@media screen and (max-width: 491px) {
    form {
        min-width: 280px;
        padding: 20px;
    }

    .btn-retour {
        left: 10%;
    }
}